* {
    margin: 0;
    padding: 0;

    /* overflow-x: hidden; */
    -webkit-user-select: none;
    /* Safari / Chrome */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard */
}



@font-face {
    font-family: myFont;
    /* set name */
    src: url(/Font/brasika-display-trial.otf);
    /* url of the font */
}

@font-face {
    font-family: logoFont;
    /* set name */
    src: url(/Font/font2.otf);
    /* url of the font */
}

.mainFont {
    font-family: myFont;
}

/* background-color: rgb(51, 75, 53); Green*/
/* background-color: rgb(253, 173, 22); Yellow*/
/* background-color: rgb(250, 242, 229); white */




/* ScrollBar */
/* Scrollbar */
html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}



.itemsCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* SectionOne Start */
.sectionOne {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s1 {
    background-color: rgb(51, 75, 53);
    ;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;


}

.logo {
    font-family: logoFont;
    font-size: 3rem;
    font-weight: bold;
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    transform: translate(10%, 20%);
}


.navItems {
    /* background-color: rgb(94, 79, 179); */
    width: 40%;
    display: flex;
    gap: 70px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    height: 100%;


}

a {
    text-decoration: none;
    color: white;
}

.getInTouch {
    background-color: rgb(253, 173, 22);
    border: none;
    color: black;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border-radius: 25px;

}



.s2 {
    background-color: rgb(51, 75, 53);
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.s2Mobile {
    display: none;
    background-color: rgb(51, 75, 53);
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.imageContainer {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(10%, 15%);
    z-index: 5;


}

.portfolioImage {
    width: 100%;
}


.portfolioText {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    transform: translate(-37%, 10%);


}


#whiteText2 {
    z-index: 100;
    position: absolute;
    transform: translate(47.5%, 62%);
    display: none;
}
#whiteText {

}

.ptextWhite {
    color: rgb(253, 253, 253, 0.8);
    /* font-size: 7.1rem; */
    font-size: clamp(3rem, 8vw, 7.1rem);
    opacity: 0.8;

}

.ptext {
    color: transparent;
    -webkit-text-stroke: 1px rgb(253, 173, 22);
    /* font-size: 7.1rem; */
    font-size: clamp(3rem, 8vw, 7.1rem);
    z-index: -10;
}


.s3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 20%;
    z-index: 2;

}

.scrollDown {
    height: 8rem;
    width: 8rem;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: rgb(253, 173, 22);
    /* color: rgb(255, 255, 255); */
    transform: translate(0%, 70%);
    font-family: 'Arial', sans-serif;
    font-weight: semi-bold;
}


/* SectionOne End  */



/* SectionTwo Start */

.sectionTwo {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(250, 242, 229);
}


.sectionTwo1 {
    /* background-color: rgb(0, 162, 14); */
    width: 30%;
    transform: translate(5%, -10%);
    /* display: flex; */


}

.aboutText {
    /* display: flex; */
    flex-direction: column;
    /* background-color: rgb(255, 186, 75); */
    gap: 30px;
    width: 70%;
}

.at1 {
    font-family: myFont;
    font-size: clamp(3rem, 6vw, 6rem);
    line-height: 1.2;

}

.at2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    opacity: 0.7;
}

.sectionTwo2 {
    /* background-color: rgb(2, 85, 179); */
    width: 35%;
    transform: translate(0%, 25%);
    z-index: 10;

}

.sectionTwoImage {
    width: 100%;

}

/* SectionTwo End */

/* SectionThree Start */
.sectionThree {
    background-color: rgb(51, 75, 53);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* overflow-x: hidden; */

}

.SectionThree1 {
    background-color: rgb(253, 173, 22);
    width: 30%;
    height: auto;
    /* column-gap: 1rem; */

    flex-direction: column;
    font-family: 'Arial', sans-serif;
    padding: 40px 10px;
    row-gap: 10px;
    transform: translate(0%, 20%);

}

.sct1 {
    font-family: myFont;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.sct2 {
    /* background-color: rgb(145, 91, 228); */
    width: 90%;
    flex-direction: column;
}

.expIcon {
    width: 20%;
    display: flex;
    justify-content: flex-end;

}

.exp1 {
    /* background: #d33434; */
    display: flex;
    width: 100%;
    /* justify-content: flex-end;; */
    align-items: center;
    transform: translate(-15%, 0%);


}

.expImg {
    width: 40%;
    /* background-color: rgb(253, 173, 22); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.expTitle {
    width: fit-content;
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    /* background-color: aqua; */
}

.expText {
    width: 95%;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    font-weight: semi-bold;
    /* line-height: 1.5; */
    transform: translate(5%, 0%);

}

.buttons {

    /* background: #9b7d65; */
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */

}

.btn1 {
    color: white;
    background: #000;
    border-radius: 25px;
    /* padding: 15px 30px; */
    /* cursor: pointer; */
    margin: 5px 10px;
    width: fit-content;

    /* height: 2rem; */
    padding: 15px 20px;
}



.SectionThree2 {
    /* background-color: rgb(22, 253, 111); */
    width: 50%;
    height: 100%;
    /* display: none; */

}

.resume {
    /* background-color: blueviolet; */
    width: fit-content;

}

.resumeMobile {
    display: none;
}

.resumeText {
    font-family: myFont;
    color: transparent;
    -webkit-text-stroke: 1px rgb(253, 173, 22);
    /* font-size: 7.1rem; */
    font-size: clamp(3rem, 8vw, 7.1rem);
    opacity: 0.6;
    z-index: -1;
    line-height: 1;
    transform: translate(30%, -50%);
    /* background: #d58484; */



}

.technicalSkills {
    /* background: #747e7d; */
}

.technicalSkillsText {
    font-family: myFont;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: rgb(253, 173, 22);
    display: flex;
    justify-content: center;
}

.techSkillContainer {
    display: flex;
    justify-content: space-evenly;
}

.softwereskillsText {
    font-family: myFont;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: rgb(253, 173, 22);
}

.codingSkillsText {
    font-family: myFont;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: rgb(253, 173, 22);
}

.codingSkill {
    font-family: 'Arial', sans-serif;
    color: white;
    line-height: 25px;
}

.btnContainer {
    /* background: #9b7d65; */
    display: flex;
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translate(50%, 15%);

}

.btn {

    color: white;
    background: #000;
    border-radius: 25px;
    /* padding: 15px 30px; */
    /* cursor: pointer; */
    margin: 5px 10px;
    width: fit-content;

    /* height: 2rem; */
    padding: 15px 20px;
}



/* Section Four */

.sectionFour {
    height: 60vh;
    width: 100%;
    background-color: rgb(250, 242, 229);
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
}

.sec4Container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
}

.languages {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;


}

.language {
    display: flex;
    font-family: myFont;
    font-size: 20px;
    gap: 50px;
}

.techSkill {
    font-size: 40px;
    color: rgb(253, 173, 22);
    line-height: 100px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.iconSize1 {
    max-height: 70px;
    /* background: #ae35ff; */
    margin: 0px -20px;
}

.iconSize2 {
    max-height: 70px;
    /* background: #ae35ff; */
    margin: 0px -20px;
}

.iconSize3 {
    max-height: 70px;
    /* background: #ae35ff; */
    /* margin-top: 10px; */
    margin: 0px -20px;
}

.iconSize4 {
    max-height: 60px;
    margin-top: 10px;
    /* background: #ae35ff; */
    /* margin: -50px; */
    /* object-fit: cover; */
}

.iconSize5 {
    max-height: 45px;
    margin-top: 10px;
    opacity: 0.8;
    /* background: #ae35ff; */
    /* margin: -50px; */
    /* object-fit: cover; */
}


#hobbyIcon:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.hobbyText {
    display: flex;
    /* background: #ff7979; */
    width: 100%;
    justify-content: space-between;
    margin: 0px 10px;
    font-size: 20px;
}

.interest {
    display: flex;
    flex-direction: row;
    /* background: #db7474; */
    gap: 20px;
}

.hobby {
    display: flex;
    /* background: #ff7979; */
    /* width: 100%; */
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* margin-left: -10px; */
    /* margin: 10px 10px; */
    /* font-size: 20px; */
    font-family: Arial, Helvetica, sans-serif;
}



/* Section 5 */

.sectionFive {
    background-color: rgb(51, 75, 53);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.work {
    /* background: #dc8b8b; */
    transform: translate(20%, -290%);
    z-index: 0;

}

.workMobile {
    display: none;

}

.workText {

    font-family: myFont;
    color: transparent;
    -webkit-text-stroke: 2px rgb(253, 173, 22);
    /* font-size: 7.1rem; */
    font-size: clamp(3rem, 8vw, 7.1rem);
    opacity: 0.6;
    z-index: -1;
    line-height: 1;
}

.workShow {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.videos {
    display: flex;
    width: 80%;
    flex-direction: row;
    transform: translate(-20%, 0%);
    justify-content: space-between;
    /* background: #b1ff8b; */
    flex-wrap: wrap;
    row-gap: 50px;

}

iframe {
    max-width: fit-content;
    margin: 10px;
}

.card {
    max-width: fit-content;
    height: fit-content;
}

.work1 {
    z-index: 10;
    /* background: #ffde89; */
    display: flex;
    transform: translate(-20%, 0%);
    justify-content: space-evenly;


}

.workDescription {
    background-color: rgb(253, 173, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: fit-content;
    padding: 20px 0px;
    transform: translate(0%, -10%);

}

.textHead {
    display: flex;
    font-family: myFont;
    font-size: 2.5rem;
    gap: 50px;

}

.textDescription {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}



.workDescription2 {
    background-color: rgb(253, 173, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: fit-content;
    padding: 20px 0px;
    transform: translate(-50%, 30%);

}

.textHead2 {
    display: flex;
    font-family: myFont;
    font-size: 2.5rem;
    gap: 50px;

}

.textDescription2 {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.videos2 {
    display: flex;
    width: 80%;
    flex-direction: row;
    transform: translate(25%, -10%);
    justify-content: space-evenly;
    /* background: #b1ff8b; */
    flex-wrap: wrap;
    row-gap: 50px;

}

.workDescription3 {
    background-color: rgb(253, 173, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: fit-content;
    padding: 20px 0px;
    transform: translate(90%, 10%);

}

.textHead3 {
    display: flex;
    font-family: myFont;
    font-size: 2.5rem;
    gap: 50px;

}

.textDescription3 {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.videos3 {
    display: flex;
    width: 80%;
    flex-direction: row;
    transform: translate(-50%, -10%);
    justify-content: space-evenly;
    /* background: #b1ff8b; */
    flex-wrap: wrap;
    row-gap: 50px;

}




/* ================= TABLET ================= */
@media (max-width: 1024px) {

    .nav-links {
        gap: 30px;
    }

    .pfp {
        height: 400px;
        left: 5%;
    }

    .textFontSize {
        font-size: 80px;
    }

    .main {
        flex-direction: column;
        height: auto;
    }

    .main1,
    .main2 {
        width: 100%;
    }

    .pfp2 {
        height: 700px;
        margin: 0;
    }

    .contact {
        position: static;
        margin-top: 20px;
        align-items: center;
    }

    .container3 {
        flex-direction: column;
        height: auto;
        padding: 50px 0;
        margin-top: -100px;
    }

    #mp2 {
        font-size: 61px;
        margin: 0;
        line-height: 52px;
    }


    .experience {
        width: 80%;
    }

    .skill {
        flex-direction: column;
        gap: 20px;
    }

    .container4 {
        flex-direction: column;
        height: auto;
        padding: 50px 0;
    }

    .container4Left,
    .container4Right {
        width: 100%;
    }

    .rightUpper {
        margin-top: 0;
        padding-left: 20px;
    }

    .rightBottom {
        margin-left: 0;
        padding-left: 20px;
    }

    .container5 {
        height: auto;
        margin: 50px auto;
        padding: 40px 0;
    }

    .workSample {
        height: auto;
        margin-top: 0;
    }

    .card {
        margin: 20px;
    }
}


/* ================= MOBILE ================= */
@media (max-width: 600px) {

    /* .sectionOne {
    display: flex;
    flex-wrap: wrap;


} */

    /* SectionOne Start */
    .sectionOne {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: rgb(8, 234, 27); */
    }

    .s1 {
        background-color: rgb(51, 75, 53);

        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: start;
        color: white;
        gap: 15px;


    }

    #navBar {

        display: flex;
        flex-direction: column;

        z-index: 100;


    }

    .logo {
        /* background-color: rgb(15, 0, 102); */
        font-family: logoFont;

        font-size: 2.5rem;
        font-weight: bold;
        /* width: 10%; */
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    transform: translate(0%, 0%);

    }


    .navItems {
        /* background: #b10c0c; */
        width: 100%;
        gap: 0px;
        justify-content: space-evenly;

    }

    a {
        text-decoration: none;
        color: white;
    }

    .getInTouch {
        background-color: rgb(253, 173, 22);
        border: none;
        color: black;
        padding: 10px 20px;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        border-radius: 25px;

    }

    .s2 {
        display: none;
    }

    .s2Mobile {
        background-color: rgb(51, 75, 53);
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: 10;
    }

    .imageContainer {
        /* background: #cedb18; */
        width: 70%;
        height: 70%;
        transform: translate(0%, 60%);


    }

    .portfolioImage {
        /* width: 100%; */
        z-index: 100;
        max-width: fit-content;
    }


    .portfolioTextMobile {

        display: flex;
        z-index: -1;
        flex-direction: column;
        line-height: 1.2;
        transform: translate(0%, -50%);


    }


    #whiteText {
        z-index: 10;
    }

    .ptextWhite {
        color: rgb(253, 253, 253, 0.8);
        /* font-size: 7.1rem; */
        font-size: clamp(3rem, 8vw, 7.1rem);
        opacity: 0.8;


    }

    .ptext {
        color: transparent;
        -webkit-text-stroke: 1px rgb(253, 173, 22);
        /* font-size: 7.1rem; */
        font-size: clamp(3rem, 8vw, 7.1rem);
        z-index: -10;
    }


    .s3 {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 20%;
        z-index: 2;

    }

    .scrollDown {
        height: 7rem;
        width: 7rem;
        font-size: 1.1rem;
        border-radius: 100%;
        background-color: rgb(253, 173, 22);
        /* color: rgb(255, 255, 255); */
        transform: translate(0%, 70%);
        font-family: 'Arial', sans-serif;
        font-weight: semi-bold;
    }



    .sectionTwo {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        gap: 10px;
        z-index: 50;
        transform: translate(0%, 0%);

    }

    .sectionTwo1 {
        /* background-color: rgb(91, 132, 94); */
        width: 100%;
        transform: translate(0%, 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0%, 60%);
    }

    .aboutText {
        width: 90%;
    }

    .at2 {
        width: 100%;
        text-align: center;
        /* background: #ec7979; */
    }

    .sectionTwo2 {
        /* background-color: rgb(179, 195, 53); */
        width: 95%;
        justify-content: center;
        align-items: center;
        transform: translate(0%, 50%);
        position: relative;
        z-index: 10;

    }

    .sectionTwoImage {
        z-index: 10;
        position: relative;
    }


    .sectionThree {
        /* flex */
        flex-direction: column-reverse;
        position: relative;
        z-index: -5;
        height: fit-content;
    }


    .SectionThree1 {
        /* z-index: -10; */
    }

    .resumeText {
        transform: translate(0%, 0%);
        font-size: clamp(4rem, 8vw, 7.1rem);

    }

    .resume {
        display: none;
    }

    .resumeMobile {
        display: flex;
        flex-direction: column;
        /* z-index: 10; */
        align-items: center;
        justify-content: center;
        /* background-color: rgb(0, 234, 20); */
        /* transform: translate(0%, -363%); */


    }

    .SectionThree2 {

        transform: translate(0%, 30%);
        /* background-color: rgb(0, 36, 142); */
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .technicalSkills {
        /* background: #747e7d; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .techSkillContainer {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .btnContainer {
        width: 100%;
        display: flex;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transform: translate(0%, 52%);
    }


    .SectionThree1 {
        background-color: rgb(253, 173, 22);
        width: 80%;
        height: auto;
        /* column-gap: 1rem; */

        flex-direction: column;
        font-family: 'Arial', sans-serif;
        padding: 40px 10px;
        row-gap: 10px;
        transform: translate(0%, 30%);
        z-index: 10;

    }


    .sectionFour {
        z-index: -6;
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }

    .sec4Container {
        transform: translate(0%, 0%);
        width: 100%;

    }

    .languages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;


    }

    .hobbyText {
        display: flex;
        /* background: #ff7979; */
        width: 100%;
        justify-content: space-between;
        margin: 0px 10px;
        font-size: 20px;
    }

    .language {
        display: flex;
        font-family: myFont;
        font-size: 20px;
        gap: 50px;
    }

    .techSkill {
        font-size: 40px;
        color: rgb(253, 173, 22);
        line-height: 100px;
    }

    .hobbies {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;

    }

    .techSkill {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .iconSize1 {
        max-height: 70px;
        margin: 0px -20px;
    }

    .hobbyAndText {
        font-size: 35px;
    }

    .interest {
        width: 100%;
        gap: 0px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .hobby {}

    .iconSize2 {
        max-height: 70px;
        /* background: #ae35ff; */
        margin: 0px -20px;
    }

    .iconSize3 {
        max-height: 70px;
        /* background: #ae35ff; */
        /* margin-top: 10px; */
        margin: 0px -20px;
    }

    .iconSize4 {
        max-height: 60px;
        margin-top: 10px;
        /* background: #ae35ff; */
        /* margin: -50px; */
        /* object-fit: cover; */
    }

    .iconSize5 {
        max-height: 45px;
        margin-top: 10px;
        opacity: 0.8;
        /* background: #ae35ff; */
        /* margin: -50px; */
        /* object-fit: cover; */
    }


    #hobbyIcon:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }

    .hobbyText {
        display: flex;
        /* background: #ff7979; */
        width: 100%;
        justify-content: space-between;
        margin: 0px 10px;
        font-size: 20px;
    }

    .interest {
        display: flex;
        flex-direction: row;
        /* background: #db7474; */
        gap: 20px;
    }

    .hobby {
        display: flex;
        /* background: #ff7979; */
        /* width: 100%; */
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        /* margin-left: -10px; */
        /* margin: 10px 10px; */
        /* font-size: 20px; */
        font-family: Arial, Helvetica, sans-serif;
    }



    .sectionFive {
        background-color: rgb(51, 75, 53);
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .work {
        /* background: #dc8b8b; */
        display: none;

    }

    .workMobile {
        display: flex;
        flex-direction: column;
        /* Background-color: rgb(75, 65, 51); */
        z-index: 10;
        padding-top: 50px;

    }

    .workText {
        font-family: myFont;
        color: transparent;
        -webkit-text-stroke: 1px rgb(253, 173, 22);
        /* font-size: 7.1rem; */
        font-size: clamp(5rem, 8vw, 7.1rem);
        opacity: 0.6;
        z-index: -1;
        line-height: 1;
        transform: translate(0%, -110%);
    }

    .workShow {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .videos {
        display: flex;
        width: 80%;
        flex-direction: row;
        transform: translate(0%, 0%);
        justify-content: space-between;
        /* background: #b1ff8b; */
        flex-wrap: wrap;
        row-gap: 50px;

    }

    iframe {
        max-width: fit-content;
        margin: 10px;
    }

    .card {
        max-width: fit-content;
        height: fit-content;
    }

    .work1 {
        z-index: 10;
        /* background: #ffde89; */
        display: flex;
        flex-direction: column-reverse;
        transform: translate(0%, 0%);
        justify-content: Center;
        align-items: center;


    }

    .workDescription {
        background-color: rgb(253, 173, 22);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: fit-content;
        padding: 20px 0px;
        transform: translate(0%, 0%);
        text-align: center;

    }

    .textHead {
        display: flex;
        font-family: myFont;
        font-size: 2rem;
        gap: 50px;

    }

    .textDescription {
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
    }


    .work2 {
        z-index: 10;
        /* background: #ffde89; */
        display: flex;
        flex-direction: column;
        transform: translate(0%, 0%);
        justify-content: Center;
        align-items: center;


    }

    .workDescription2 {
        background-color: rgb(253, 173, 22);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: fit-content;
        padding: 20px 0px;
        transform: translate(0%, 0%);
        text-align: center;

    }

    .textHead2 {
        display: flex;
        font-family: myFont;
        font-size: 2rem;
        gap: 50px;

    }

    .textDescription2 {
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
    }




    .videos2 {
        display: flex;
        width: 80%;
        flex-direction: row;
        transform: translate(0%, 0%);
        justify-content: space-between;
        /* background: #b1ff8b; */
        flex-wrap: wrap;
        row-gap: 50px;

    }


    .work3 {
        z-index: 10;
        /* background: #ffde89; */
        display: flex;
        flex-direction: column;
        transform: translate(0%, 0%);
        justify-content: Center;
        align-items: center;


    }

    .workDescription3 {
        background-color: rgb(253, 173, 22);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: fit-content;
        padding: 20px 0px;
        transform: translate(0%, 0%);
        text-align: center;

    }

    .textHead3 {
        display: flex;
        font-family: myFont;
        font-size: 2rem;
        gap: 50px;

    }

    .textDescription3 {
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
    }




    .videos3 {
        display: flex;
        width: 80%;
        flex-direction: row;
        transform: translate(0%, 0%);
        justify-content: space-between;
        /* background: #b1ff8b; */
        flex-wrap: wrap;
        row-gap: 50px;

    }




}
